body.mainpage {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 'Helvetica',
      Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(73, 71, 71);
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  div.mainpage {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 1;
    border: 2;
  }

  div.maintable {
    align-items: center;
    justify-content: center;
    display: flex;
    grid-row: 2/5;
    grid-column: 3/7;
    margin-top: 20px;
    margin-left: 45px;
    color: aliceblue;
    background: rgb(58, 57, 57);
    border: 2px solid #333;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 12px;
  }

  table {
    border-collapse: collapse;
    margin: 20px;
    width: 100%;
  }
  
  th {
    
    border: 1px solid #ddd;
    padding: 8px;
  }

  th:first-child {
    text-align: center;
  }
  
  td {
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }

  div.crud-method {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    grid-row: 3;
    grid-column: 2;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: right;
  }

  div.crud-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    grid-row: 3;
    grid-column: 1;
    color: white;
    font-size: 14px;
    text-align: left;
  }

  div.my-button {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    grid-row: 4;
    grid-column: 2;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: right;
  }
  div.header {
    align-items: center;
    justify-content: center;
    display: flex;
    grid-row: 1;
    grid-column: 2/6;
  }
  div.create-fields {
    font-size: 14px;
    color: white;
  }